* {
    margin: 0;
    font-family: 'Arial';
    font-style: italic;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background: linear-gradient(60deg, rgba(2,0,36,1) 7%, rgba(121,9,64,1) 25%, rgba(0,212,255,1) 64%);
}