@keyframes focus {
    0% {
        backdrop-filter: blur(0px);
        opacity: 0
    }

    90% {
        backdrop-filter: blur(0px)
    }

    91% {
        backdrop-filter: blur(6px)
    }

    94% {
        backdrop-filter: blur(1px)
    }

    98% {
        backdrop-filter: blur(4px)
    }

    100% {
        backdrop-filter: blur(0px);
        opacity: 1
    }
}

#info {
    position: absolute;
    z-index: 100;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    overflow: hidden;
    pointer-events: none;
}

#sidebar {
    position: absolute;
    z-index: 20;
    width: 15%;
    height: 100%;
}

#sidebar > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    font-size: 2rem;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    color: transparent;
    /* text-shadow: 0px 0px 20px red; */
    border-right: 2px solid rgba(255, 255, 255, 0.7);
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}

#blur {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: focus 10s 5s ease-in-out infinite;
}

#name {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    z-index: 11;
    width: calc(85% - 2px);
    height: 100%;
    right: 0;
    /* background-color: lime; */
}

#name > p {
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 3rem;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    color: transparent;
}

@media (orientation: landscape) {

    #info {
        width: 90vh;
        height: 90vh;
    }

}

@media (orientation: portrait) {

    #info {
        width: 90vw;
        height: 90vw;
    }

}