#visual {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    pointer-events: auto;
    /* mix-blend-mode: difference; */
}

canvas {
    pointer-events: auto;
    touch-action: none;
}

.annotation {
    outline: none;
    border: none;
    font-size: 12px;
    font-weight: 300;
    color: transparent;
    color: rgba(255, 255, 255, 0.7);
    /* -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.5); */
    padding: 2px 10px;
    border: 0.5px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    pointer-events: none;
    /* animation: blur 10s 4.2s ease-in-out infinite; */

}

@media (orientation: landscape) {

    #visual {
        width: 90vh;
        height: 90vh;
    }

}

@media (orientation: portrait) {

    #visual {
        width: 90vw;
        height: 90vw;
    }

}